<h1>New Record:</h1>

<%= form_for :record, url: records_path do |f| %>

  <p>
    <b> <%= f.label :Prescriptions %><br> </b>
    <%= f.text_area :Prescriptions %>
  </p>
 
  <p>
    <b> <%= f.label :Symptoms %><br> </b>
    <%= f.text_area :Symptoms %>
  </p>

  <p>
    <b> <%= f.label :Date %><br> </b>
    <%= f.date_select :Date, order: [:day, :month, :year], start_year: 1990, end_year: Time.new.year%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<b> <%= link_to 'Back to All Records', records_path %> </b>