<h1>Search Resullts:</h1>

<table>
  <tr>
    <th>Prescriptions</th>
    <th>Symptoms</th>
    <th>Date</th>
    <th>User</th>
    
  </tr>
 
  <% for i in 0..(@all_answers.length - 1) %>
    <tr>
        <td><%= @all_answers[i].Prescriptions %></td>
        <td><%= @all_answers[i].Symptoms %></td>
        <td><%= @all_answers[i].Day %>:<%= @all_answers[i].Month %>:<%= @all_answers[i].Year %></td>
        <td><%= @all_answers[i].user.email %></td>
    </tr>
  <% end %>
</table>

<p><b> <%= link_to 'Back to Search Records', :controller => :records, :action => :search_get %> </b></p>
<p><b> <%= link_to 'Back to All Records', :controller => :records, :action => :index %> </b></p>