<h1>Current Record:</h1>

<p>
  <strong>Prescriptions:</strong>
  <%= @record.Prescriptions %>
</p>
 
<p>
  <strong>Symptoms:</strong>
  <%= @record.Symptoms %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.Date %>
</p>

<p> <b> <%= link_to 'Edit', edit_record_path(@record) %> </b> </p>
<p><b> <%= link_to 'Back to All Records', records_path %> </b> </p>