<h1>All Appointments:</h1>

<p> <b> <%= link_to 'New Appointment', new_appointment_path %> </b> </p>

<table>
  <tr>
    <th>Appointment Date & Time</th>
    <th>         </th><th>         </th><th>         </th>
    <th>Still Valid</th>
    <th>User</th>
    <th>Want to Cancel?</th>
  </tr>
 
  <% @appointments.each do |appointment| %>
    <tr>
      <% if current_user==appointment.user %>
        <td><%= appointment.Date %></td>
        <th>         </th><th>         </th><th>         </th>
        <td><%= appointment.Valid %></td>
        <td><%= appointment.user.email %></td>

        <td><b><%= link_to 'Cancel Appointment', appointment_path(appointment),
                method: :delete,
                data: { confirm: 'Are you sure you want to cancel this appointment? This action cannot be undone.' } %></b></td> 
      <% end %>
    </tr>
  <% end %>
</table>

<p><b> <%= link_to 'Back to Welcome Page', :controller => :welcome, :action => :index %> </b></p>

