<h1>All Appointments:</h1>

<% if current_user!=nil %>
  <% if "haamid@gmail.com" != current_user.email %>
    <p> <b> <%= link_to 'New Appointment', new_appointment_path %> </b> </p>
  <% end %>
<% end %>

<% if current_user!=nil %>
  <% if "haamid@gmail.com" == current_user.email %>
    <p><b> <%= link_to 'Search Appointments', :controller => :appointments, :action => :search_get %> </b></p>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Appointment Date & Time</th>
    <th>         </th><th>         </th><th>         </th>
    <th>Still Valid</th>
    <th>User</th>

    <% if current_user!=nil %>
      <% if "haamid@gmail.com" != current_user.email %>
        <th>Actions</th>
      <% end %>
    <% end %>
  </tr>
 
  <% @appointments.each do |appointment| %>
    <tr>
      <% if current_user!=nil %>
        <% if "haamid@gmail.com" == current_user.email %>
          <td><%= appointment.Date %></td>
          <th>         </th><th>         </th><th>         </th>
          <td><%= appointment.Valid %></td>
          <td><%= appointment.user.email %></td>

        <% else %>
          <% if current_user==appointment.user %>
            <td><%= appointment.Date %></td>
            <th>         </th><th>         </th><th>         </th>
            <td><%= appointment.Valid %></td>
            <td><%= appointment.user.email %></td>

            <td><b><%= link_to 'Cancel Appointment', appointment_path(appointment),
                    method: :delete,
                    data: { confirm: 'Are you sure you want to cancel this appointment? This action cannot be undone.' } %></b></td> 
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<p><b> <%= link_to 'Back to Welcome Page', :controller => :welcome, :action => :index %> </b></p>

